@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

/*BUTTONS*/

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-transparent {
  background-color: transparent;
}

/*VISUALLY-HIDDEN*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*HEADER*/

.page-header {
  text-transform: capitalize;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

/*MAIN-INDEX*/

.main-index {
  text-align: center;
}

/*main-section-hero*/

.hero {
  background-color: #416c8f;
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-position: bottom center, center;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
}

/*main-section-advantages*/

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
}

.advantages-list{
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-town,
.advantages-item-bridge {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
}

/*main-section-infrastructure*/

.infrastructure-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.infrastructure-description {
  color: #333333;
}

.infrastructure-list {
  list-style: none;
}

.infrastructure-item-accomodation,
.infrastructure-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.2);
}

.infrastructure-item-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-item-description {
  font-size: 18px;
  line-height: 21px;
}

/*main-section-search*/

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  color: #333333;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

/*main-section-newsletter*/

.newsletter {
  text-align: center;
}

.newsletter-index {
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #416c8f;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.field {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 24px;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

/*FOOTER*/

.footer-socials-list {
  list-style: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/*MAIN-INNER*/

/*search-settings*/

.search-settings {
  color: #FFFFFF;
  background-image: url("../images/filter-background.jpg");
  background-color: #416c8f;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.search-settings-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

/*search-results*/

.search-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.accomodation-list {
  list-style: none;
}

.accomodation-card-link {
  text-decoration: none;
}

.accomodation-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.accomodation-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.accomodation-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.accomodation-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/*pagination*/

.pagination {
  list-style: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-dots {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: transparent;
}
